{% extends 'base.html.twig' %}

{% block title %}CyberClone{% endblock %}

{% block body %}
<!-- Navbar -->
<div class="navbar max-width-content">
    <div id="logo-container">
        <a href="{{ path('homepage') }}">
            <img src="{{ asset('build/images/items/CyberCloneBanniere.jpeg') }}" alt="CyberClone banniere"/>
        </a>
    </div>
    <div class="menu-container">
        <ul id="menu">
            {# 
                Enter the text and link for the mint
            #}
            {# <li>
                <a id="menu-btn" href="#">
                    Launch App
                </a>
            </li> #}
            <li>
                <a href="https://discord.gg/rKnGgUDgYD">
                    <img src = "{{ asset('build/images/socials/discord.svg') }}" alt="Discord" width="50" height="50" />
                </a>
            </li>
            <li>
                <a href="https://twitter.com/cyberclonenft">
                    <img src = "{{ asset('build/images/socials/twitter.svg') }}" alt="Twitter" width="50" height="50" />
                </a>
            </li>
            {# 
            Enter the image and link for Medium    
            #}
            <li>
                <a href="https://medium.com/cyber-clone/roadmap-103083df5ab7">
                    <img src = "{{ asset('build/images/socials/medium.svg') }}" alt="Medium" width="50" height="50" />
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- Main Section -->
<div id="banner">
    <div class="banner-section max-width-content">
        <div class="banner-container">
            <img class="banner-image" src="{{ asset('build/images/items/CyberCloneImage.jpeg') }}" alt="CyberClone banniere"/>
            {# Image to insert #}
        </div>
        <div class="banner-container">
            <div class="text-animation">
                {{ descriptions[0].description }}⚡
            </div>
        </div>
    </div>
</div>

<!-- About the club Section -->
<section id="about">
    <div class="about-section max-width-content">
        <h1 class="section-title" data-aos="fade-up" data-aos-duration="1500">About The Crew</h1>
        <p data-aos="fade-up" data-aos-duration="1500">
            {{ abouts[0].description }}
        </p>
    </div>
</section>

<!-- About the club Section -->
<section id="faq">
    <div class="faq-section max-width-content">
        <h1 class="section-title" data-aos="fade-up" data-aos-duration="1500">FAQ</h1>

        {% for faq in faqs %}
        <div class="topics">
            <div class="topic" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
                <details>
                    <summary class="question">{{ faq.question }}</summary>
                    <div class="answer">
                        {{ faq.response }}
                    </div>
                </details>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Roadmap Section -->
<section id="roadmap">
    <div class="roadmap-section max-width-content">
        <h1 class="section-title" data-aos="fade-up" data-aos-duration="1500">Roadmap</h1>
    
        <div class="section-container">
            <div class="roadmap-container">
                <div class="timeline" data-aos-anchor-placement="bottom-bottom">
                    {# here #}
                    {% for roadmap in road_maps %}
                        {% if roadmap.id % 2 == 0 %}
                            <div class="container left">
                                <div class="content" data-aos="fade-up-right" data-aos-duration="1500">
                                    <div class="content-header">
                                        <span class="content-header-title">{{ roadmap.title }}</span>
                                        <span class="content-header-time">{{ roadmap.date }}</span>
                                    </div>
                                    <p>
                                        {{ roadmap.description | nl2br}}
                                    </p>
                                </div>
                            </div>
                        {% else %}
                            <div class="container right">
                                <div class="content" data-aos="fade-up-left" data-aos-duration="1500">
                                    <div class="content-header">
                                        <span class="content-header-title">{{ roadmap.title }}</span>
                                        <span class="content-header-time">{{ roadmap.date }}</span>
                                    </div>
                                    <p>
                                        {{ roadmap.description | nl2br}}
                                    </p>
                                </div>
                            </div>
                        {% endif %}

                        
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team">
    <div class="team-section max-width-content">
        <h1 class="section-title" data-aos="fade-down"  data-aos-duration="1500">Team</h1>

        <div class="section-container team-section-container">

            {% for team in teams %}
                <div class="team-card" data-aos="flip-left" data-aos-duration="1500">
                    <div class="team-card-img">
                        <img src="{{ asset('/images/teams/' ~ team.picture) }}" alt="Team member {{ team.name }}"/>
                    </div>
                    <div class="team-card-name">{{ team.name }}</div>
                    <div class="team-card-role">{{ team.job }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-logo-container">
                <div class="footer-cyber-container">
                    <img class="footer-cyber-logo" src="{{ asset('build/images/items/CyberCloneLogo.png') }}" alt="cyber White Logo" />
                    <div class="footer-cyber-text">
                        Made by 
                        <br>
                        CyberClone with 💙
                    </div>
                    <div class="footer-vl"></div>
                </div>
                <img class="footer-cyber-logo-img" src="{{ asset('build/images/items/CyberCloneBanniere.jpeg') }}" alt="Footer banniere" />
            </div>
            <div class="footer-menu-container">
                <ul id="footer-menu">
                    <li>
                        <a href="#banner">
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="#about">
                            About The Club
                        </a>
                    </li>

                    <li>
                        <a href="#roadmap">
                            Roadmap
                        </a>
                    </li>

                    <li>
                        <a href="#team">
                            Team
                        </a>
                    </li>

                    {# <li>
                        <a href="terms.html">
                            Terms & Conditions
                        </a>
                    </li> #}
                    <li>
                        <div class="socials">
                            <a href="https://discord.gg/rKnGgUDgYD">
                                <img src = "{{ asset('build/images/socials/discord.svg') }}" alt="Discord" width="22" height="22" />
                            </a>

                            <a href="https://twitter.com/cyberclonenft">
                                <img src = "{{ asset('build/images/socials/twitter.svg') }}" alt="Twitter" width="22" height="22" />
                            </a>
                        
                            <a href="https://medium.com/cyber-clone/roadmap-103083df5ab7">
                                <img src = "{{ asset('build/images/socials/medium.svg') }}" alt="Medium" width="22" height="22" />
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            ©2022 CyberClone. All rights reserved.
        </div>
    </div>
</footer>
{% endblock %}
