{% extends 'base.html.twig' %}

{% block title %}Trippin Panda{% endblock %}

{% block body %}
<!-- Navbar -->

<div class="navbar max-width-content">
    {# <div id="logo-container">
        <a href="{{ path('homepage') }}">
            <img src="{{ asset('build/images/items/bannierepandaClone.png') }}" alt="pandaClone banniere"/>
        </a>
    </div> #}
    <div class="menu-container">
        <div class="nav-menu">
            <ul >
                <li class="logo">
                    <img src="{{ asset('build/images/items/panda-logo.png') }}" alt="pandalogo">
                </li>
                
                <li class="list-menu">
                    <a href="#about">
                        About
                    </a>
                </li>
                <li class="list-menu">
                    <a href="#principles">
                        Principles
                    </a>
                </li>
                <li class="list-menu">
                    <a href="#roadmap">
                        RoadMap
                    </a>
                </li>
                <li class="list-menu">
                    <a href="#team">
                        Team
                    </a>
                </li>
                <li class="list-menu">
                    <a href="#faq">
                        Faq
                    </a>
                </li>
                <li class="list-menu">
                    <a href="{{ path('auction') }}">
                        Auction
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-sociaux">
            <ul id="menu">
                <li>
                    <a href="https://discord.gg/QfqRAystVh">
                        <img src = "{{ asset('build/images/socials/discord.svg') }}" alt="Discord" width="50" height="50" />
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/Trippin_panda">
                        <img src = "{{ asset('build/images/socials/twitter.svg') }}" alt="Twitter" width="50" height="50" />
                    </a>
                </li>
                <li>
                    <a href="https://medium.com/@trippinpanda76/pandapaper-b6e0c30e23fe">
                        <img src = "{{ asset('build/images/socials/medium.svg') }}" alt="Medium" width="50" height="50" />
                    </a>
                </li>
                {# <li>
                    <a href="https://medium.com/panda-clone">
                        <img src = "{{ asset('build/images/socials/telegram.svg') }}" alt="Telegram" width="50" height="50" />
                    </a>
                </li> #}
            </ul>
        </div>
    </div>
    <ul class="mobile-nav">
        <li class="list-menu">
            <a href="#about">
                About
            </a>
        </li>
        <li class="list-menu">
            <a href="#principles">
                Principles
            </a>
        </li>
        <li class="list-menu">
            <a href="#roadmap">
                RoadMap
            </a>
        </li>
        <li class="list-menu">
            <a href="#team">
                Team
            </a>
        </li>
        <li class="list-menu">
            <a href="#faq">
                Faq
            </a>
        </li>
        <li class="list-menu">
            <a href="{{ path('auction') }}">
                Auction
            </a>
        </li>
    </ul>
</div>

<!-- Main Section -->
{# <div id="banner">
    <div class="banner-section max-width-content">
        <div class="banner-container">
            <img class="banner-image" src="{{ asset('build/images/items/animation.gif') }}" alt="animation panda"/>
        </div>
    </div>
</div> #}

<!-- Diapo -->
<div class="slideshow-container">
    <div class="mySlides fade">
      <img src="{{ asset('build/images/items/69.png') }}" alt="Third slide">
      <img src="{{ asset('build/images/items/70.png') }}" alt="Third slide">
      <img src="{{ asset('build/images/items/483.png') }}" alt="Third slide">
    </div>
    <div class="mySlides fade">
      <img src="{{ asset('build/images/items/71.png') }}" alt="Second slide">
      <img src="{{ asset('build/images/items/486.png') }}" alt="Second slide">
      <img src="{{ asset('build/images/items/807.png') }}" alt="Second slide">
    </div>
    <div class="mySlides fade">
      <img src="{{ asset('build/images/items/808.png') }}" alt="First slide">
      <img src="{{ asset('build/images/items/809.png') }}" alt="First slide">
      <img src="{{ asset('build/images/items/812.png') }}" alt="First slide">
    </div>
    <div class="mySlides fade">
        <img src="{{ asset('build/images/items/483.png') }}" alt="First slide">
        <img src="{{ asset('build/images/items/811.png') }}" alt="First slide">
        <img src="{{ asset('build/images/items/484.png') }}" alt="First slide">
      </div>
</div>

<div class="enter-trip">
    <p class="enter">Enter the trip</p>
    <img src="{{ asset('build/images/items/panda-logo.png') }}" alt="pandalogo">
    <p class="trippin">Trippin Panda</p>
</div>

<!-- About the club Section -->
<section id="about">
    <div class="about-section max-width-content">
        <h1 class="section-title">Who we are</h1>
        <p>
            {{ abouts[0].description }}
        </p>
    </div>
</section>

<div class="panda-banner">
    <img src="{{ asset('build/images/items/pandas-banner.png') }}" alt="panda banner">
</div>

<div class="principles" id="principles">
    <h1 class="section-title">Principles</h1>
    <div class="banner-container-description">
        {% for description in descriptions %}
            <div class="description-card">
                <div class="content">
                    <h2>{{ description.title }}</h2>
                    <p>
                        {{ description.description }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Roadmap Section -->
<section id="roadmap">
    <div class="roadmap-section max-width-content">
        <h1 class="section-title">Pandamap</h1>
        <div class="section-container">
            <p>
                Our goal is simple: to offer the holder reasons to hold.
                Despite liking the term “holder” very much, we see them more as investors who have trusted our project to invest their money. For the team, they are not simply owners of an NFT that they can trade or hold, we want to offer not only real utility, but also direct benefits from holding the NFT.
                <br><br>
                Throughout all this time, we have seen how countless projects were born and died; some for not having a clear direction, others for not providing anything to their investors after the sold out or for not delivering the roadmap.
                <br><br>
                For more details : <a href="https://medium.com/@trippinpanda76/pandapaper-b6e0c30e23fe">Trippin Medium</a></p>
                
                <div class="roadmap-img">
                    <img src="{{ asset('build/images/items/DAO.jpg') }}" alt="">
                    <img src="{{ asset('build/images/items/charity.jpg') }}" alt="">
                    <img src="{{ asset('build/images/items/top_5_holder.jpg') }}" alt="">
                    <img src="{{ asset('build/images/items/investment_fund.jpg') }}" alt="">
                    <img src="{{ asset('build/images/items/Airdrops.jpg') }}" alt="">
                    <img src="{{ asset('build/images/items/NFT_Messaging.jpg') }}" alt="">
                </div>
            {# <div class="roadmap-container">
                    {% for roadmap in road_maps %}
                        {% if roadmap.id % 2 == 0 %}
                            <div class="container-left">
                                <p>
                                    {{ roadmap.description | nl2br}}
                                </p>
                            </div>
                        {% else %}
                            <div class="container-right">
                                <p>
                                    {{ roadmap.description | nl2br}}
                                </p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div> #}
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team">
    <div class="team-section max-width-content">
        <h1 class="section-title">Team</h1>
        <div class="section-container">
            {% for team in teams %}
                <div class="team-section-container">
                    <img src="{{ asset('/images/teams/' ~ team.picture) }}" alt="Team member {{ team.name }}"/>
                    <h2 class="team-card-name">{{ team.name }}</h2>
                    <p class="team-card-role">{{ team.job }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- About the club Section -->
<section id="faq">
    <div class="faq-section max-width-content">
        <h1 class="section-title">FAQ</h1>

        {% for faq in faqs %}
        <div class="topics">
            <div class="topic" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
                <details>
                    <summary class="question">{{ faq.question }}</summary>
                    <div class="answer">
                        {{ faq.response }}
                    </div>
                </details>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


<!-- Footer -->
<footer>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-logo-container">
                <div class="footer-panda-container">
                    <img class="footer-panda-logo" src="{{ asset('build/images/items/panda-logo.png') }}" alt="panda Logo" />
                    <div class="footer-panda-text">
                        Made by 
                        <br>
                        Trippin Panda with 💙
                    </div>
                    <div class="footer-vl"></div>
                </div>
                <img class="footer-panda-logo-img" src="{{ asset('build/images/items/banner-trip.jpg') }}" alt="Footer banniere" />
            </div>
            <div class="footer-menu-container">
                <ul id="footer-menu">
                    <li>
                    <a href="#about">
                        About
                    </a>
                    </li>
                    <li>
                        <a href="#principles">
                            Principles
                        </a>
                    </li>
                    <li>
                        <a href="#roadmap">
                            RoadMap
                        </a>
                    </li>
                    <li>
                        <a href="#team">
                            Team
                        </a>
                    </li>
                    <li>
                        <a href="#faq">
                            Faq
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('auction') }}">
                            Auction
                        </a>
                    </li>
                    <li>
                        <div class="socials">
                            <a href="https://discord.gg/QfqRAystVh">
                                <img src = "{{ asset('build/images/socials/discord.svg') }}" alt="Discord" width="22" height="22" />
                            </a>

                            <a href="https://twitter.com/Trippin_panda">
                                <img src = "{{ asset('build/images/socials/twitter.svg') }}" alt="Twitter" width="22" height="22" />
                            </a>
                        
                            <a href="https://medium.com/@trippinpanda76/pandapaper-b6e0c30e23fe">
                                <img src = "{{ asset('build/images/socials/medium.svg') }}" alt="Medium" width="22" height="22" />
                            </a>
                           {#  <a href="https://medium.com/panda-clone">
                                <img src = "{{ asset('build/images/socials/telegram.svg') }}" alt="Telegram" width="22" height="22" />
                            </a> #}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            ©2022 Trippin Panda. All rights reserved.
        </div>
    </div>
</footer>

<script>
    let slideIndex = 0;
    showSlides();
    
    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
   
      slides[slideIndex-1].style.display = "flex";  
      setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
    </script>
{# <script>
    let menu = document.getElementById('menu-button');
    let menuclose = document.getElementById('button-close');
    let lists = document.querySelectorAll('.list-menu');
    
    menu.addEventListener('click', () => {
        lists.forEach(list => {
            list.style.display = 'block';
        });
        menuclose.style.display = 'block';
        menu.style.display = 'none';
    });

    menuclose.addEventListener('click', () => {
        lists.forEach(list => {
            list.style.display = 'none';
        });
        menuclose.style.display = 'none';
        menu.style.display = 'block';
    });
</script> #}
{% endblock %}

